<app-layout>

  <div *ngIf="loggedIn">
    <div class="row">
      <div
        class="col-md-4"
        style="border: 1px solid black;">
        <form
          (ngSubmit)="crearTarea()"
          #f="ngForm">
          <div class="form-group">
            <label for="titulo">Titulo ({{ titulo?.value?.length }})</label>
            <input
              #titulo="ngModel"
              required
              minlength="5"
              [(ngModel)]="newTarea.titulo"
              class="form-control"
              type="text"
              name="titulo"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div
            *ngIf="titulo.invalid && (titulo.dirty || titulo.touched)"
            class="alert alert-danger">
            El titulo debe tener largo mayor a 5 caracteres
          </div>

          <div class="form-group">
            <label for="descripcion">
              Descripcion ({{ descripcion?.value?.length }})
            </label>
            <textarea
              #descripcion="ngModel"
              required
              minlength="10"
              maxlength="100"
              [(ngModel)]="newTarea.descripcion"
              class="form-control"
              name="descripcion"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div
            *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)"
            class="alert alert-danger">
            La descripcion debe tener entre 10 y 100 caracteres
          </div>

          <mat-form-field>
            <mat-label>Fecha de inicio</mat-label>
            <input
              matInput
              [matDatepicker]="initialPicker"
              [(ngModel)]="newTarea.fecha_inicio"
              [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle
              matSuffix
              [for]="initialPicker"></mat-datepicker-toggle>
            <mat-datepicker #initialPicker></mat-datepicker>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha de término</mat-label>
            <input
              matInput
              [matDatepicker]="endPicker"
              [(ngModel)]="newTarea.fecha_termino"
              [ngModelOptions]="{standalone: true}">
            <mat-datepicker-toggle
              matSuffix
              [for]="endPicker"></mat-datepicker-toggle>
            <mat-datepicker #endPicker></mat-datepicker>
          </mat-form-field>
            <div class="my-2">
                Elejir punto geográfico
                <div style="height: 300px;" leaflet
                     [leafletOptions]="options"
                     (leafletClick)="mapClick($event)"
                     [leafletLayers]="markers">
                </div>
            </div>
          <button class="mb-3"
                  mat-raised-button color="primary"
            [disabled]="f.invalid"
            type="submit"
            class="btn btn-primary">
              Crear Tarea</button>
        </form>
      </div>

      <div
        class="col-md-8"
        style="border: 1px solid black;">
        <table class="table">
          <tbody>
            <tr>
              <th>#</th>
              <th>id</th>
              <th>Titulo</th>
              <th>Estado</th>
            </tr>
            <tr
              *ngFor="let t of tareas;let rowIndex = index"
              
              [class.selected]="t === tareaSeleccionada">
              <ng-container *ngIf="t.nombre_usuario == username;">
              <td>{{ rowIndex+1 }}</td>
              <td>{{ t.id }}</td>
              <td>
                <a
                  href="#"
                  (click)="seleccionarTarea(t)">
                  {{ t.titulo }}
                </a>
              </td>
              <td>{{ estado2str(t.estado) }}</td>
              </ng-container>
              
            </tr>
          </tbody>
        </table>
      </div>
    </div>
      <div class="d-flex align-content-end flex-wrap">
          <button class="ml-auto mt-3" mat-raised-button color="accent" (click)="openDialog()">Ver mapa de puntos</button>
      </div>

    <hr>

    <div
      *ngIf="tareaSeleccionada"
      class="row"
      style="border: 1px solid black;">

      <div
        [ngSwitch]="tareaSeleccionada.estado"
        class="col-md-12">

        <app-tarea-creada
          *ngSwitchCase="estadoTareas.Creada"
          [tarea]="tareaSeleccionada"
          (tareaActualizada)="actualizarTarea($event)">
        </app-tarea-creada>

        <app-tarea-en-proceso
          *ngSwitchCase="estadoTareas.EnProceso"
          [tarea]="tareaSeleccionada"
          (tareaActualizada)="actualizarTarea($event)">
        </app-tarea-en-proceso>

        <app-tarea-terminada
          *ngSwitchCase="estadoTareas.Terminada"
          [tarea]="tareaSeleccionada"
          (tareaActualizada)="actualizarTarea($event)">
        </app-tarea-terminada>

      </div>
    </div>
  </div>

  <div *ngIf="!loggedIn">

    <form (ngSubmit)="iniciarSesion()">
      <div class="form-group">
        <label for="username">Usuario</label>
        <input
          [(ngModel)]="username"
          class="form-control"
          type="text"
          name="username">
      </div>

      <div class="form-group">
        <label for="password">Contraseña</label>
        <input
          [(ngModel)]="password"
          class="form-control"
          type="password"
          name="password">

      </div>

      <button
        class="btn btn-primary"
        type="submit">
        Iniciar Sesión
      </button>

    </form>
  </div>

</app-layout>
